#### Quiz 4
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]] แล้ว a[1][1][1] คือค่าใด

เขียนชื่อนามสกุลอายุอยู่ในลิสต์เดียวของคน 4 คนแล้วใส่ไว้ในลิสต์ (Nested List) และแสดงผล

ลบคนสุดท้ายของลิสต์นั้นออกและแสดงผล

เพิ่มคนที่ 5 เข้ามาเป็นคนแรกของ Nested List และแสดงผล

แก้ไขน้ำหนักคนที่สอง +10 และแสดงผล

In [1]:
# a = [[[1,3],[3,4]],[5,[5,6],[7,8]]] แล้ว a[1][1][1] คืออค่าใด
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]
print('My Answer' , 6)
print('Solution' , a[1][1][1])
print('a = ', a)
print('a[1] = ' , a[1])
print('a[1][1] = ' , a[1][1])
print('a[1][1][1] = ' , a[1][1][1])

My Answer 6
Solution 6
a =  [[[1, 3], [3, 4]], [5, [5, 6], [7, 8]]]
a[1] =  [5, [5, 6], [7, 8]]
a[1][1] =  [5, 6]
a[1][1][1] =  6

In [16]:
# เขียนชื่อนาทสกุลอายุอยู่ในลิสต์เดียวกันของ คน 4 คนแล้วใส่ใน Nested list และ แสดงผล
person1 = ['supat','Thianrungrot',24]
person2 = ['Nichaphat','Tonginsri',26]
person3 = ['Three','Mandown',24]
person4 = ['Tilly','Bird',23]
All = [person1 , person2 , person3 , person4]
print(All)

[['supat', 'Thianrungrot', 24], ['Nichaphat', 'Tonginsri', 26], ['Three', 'Mandown', 24], ['Tilly', 'Bird', 23]]

In [17]:
# ลบคนสุดท้ายของลิสนั้นออกแล้วแสดงผล
del All[3]
print(All)

[['supat', 'Thianrungrot', 24], ['Nichaphat', 'Tonginsri', 26], ['Three', 'Mandown', 24]]

In [18]:
#เพิ่มคนที่ 5 เข้ามาเป็นคนแรกของ Nested List และแสดงผล
All.insert(0,['Star','Bucks',25])
print(All)

[['Star', 'Bucks', 25], ['supat', 'Thianrungrot', 24], ['Nichaphat', 'Tonginsri', 26], ['Three', 'Mandown', 24]]

In [19]:
#แก้ไขน้ำหนักคนที่ 2 +10 และแสดงผล
All[1][2] = All[1][2] +10
print(All)

[['Star', 'Bucks', 25], ['supat', 'Thianrungrot', 34], ['Nichaphat', 'Tonginsri', 26], ['Three', 'Mandown', 24]]